

/* Reset some default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
html{
  scroll-behavior:smooth;
}
  
  /*Background color and font styles to the whole page */
  body {
    font-family: Arial, sans-serif;
    background-color: #141414;
  }
  
  /* Style the navigation bar */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');


.navbar {
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}


.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
    
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a , .right ul li button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    background-color: #141414;
    border: none;
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}

@media screen and (max-width:805px) {
    .list {
      width: 30%;
      height: 100vh;
      background-color: #141414;
      text-align: center;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 4rem;
      left: 100%;
      transition: all 1s;
    }

    #check {
      display: none;
    }

    .checkBtn {
      display: block;
    }

    #check:checked~ul {
      left: 0%;
    }

}
  
  /* Style the home section */
  #mainHome{
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
  #home {
    text-align: center;
    padding: 70px 50px;
  }
  
  .home-img {
    padding: 10px;
    width: 300px;
    height: 320px;
    background-color: #141414;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  /* Style the about section */
  #about {
    background-color: 1a1a1a;
    padding: 100px 50px;
    line-height: 25px;
  }
  
  #user-detail-name {
    font-size: 30px;

    margin-bottom: 10px;
    color: white;
  }
  .profession {
    /* animation: typing 4s steps(50), blink-caret 0.5s step-end infinite; */
    white-space: nowrap;
    overflow: hidden;
    border-right:hidden;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
    /* border: 1px solid red; */
  }
  .typing::after {
    content: " ";
    animation: blink-caret 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  #user-detail-intro {
    font-size: 16px;
    color: rgb(188, 183, 183);
    margin-bottom: 20px;
  }

#resume-button-2 {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  color: rgb(11, 11, 11);
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
 
  letter-spacing: 1px;
  background: transparent;
  border: 1px solid #44c7f5;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #44c7f5;
  transition: .3s;
  -webkit-transition: .3s;
  color: rgb(237, 236, 236);
}
#resume-button-2 a{
  text-decoration: none;
}

#resume-button-2:hover {
  color: black;
  box-shadow: inset 200px 0 0 0 #3472ef;
  transform: scaleX(1);
  transition-delay: 0.2s;
}

  /* responsiveness code for home section */
  @media screen and (max-width:805px) {
    #mainHome{
      flex-direction: column;
      justify-content: space-around;
    }
    #home {
      height: 300px;
    }
   
  }
  #tech{
    color: #141414;
  }
  /* Style the skills section */
  #skills {
    background-color: #f5f5f5;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
  }
  
  #skills>h3{
    display: block;
    color: black;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .skills-card {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .skills-card:hover {
    transform: scale(1.20);
    /* background-color: #6e6c6c; */
  }
  .skills-card img{
    width: 60px;
  }
  .skills-card:nth-child(3) img{
    width: 45px;
  }
  .skills-card:nth-child(6) img{
    width: 120px;
  }

  /* Style the projects section */
  #projects {
    /* border: 1px solid red; */
    background-color: white;
    /* padding: 40px 0; */
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;  
  }
  
  .project-card {
    /* border: 1px solid red; */
    background-color: #2b2a2a;
    border-radius: 15px;
    padding: 40px 8%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15%;
    color: white;
  }

  .project-card .part-1{
    text-align: center;
    /* padding: 10px; */
    line-height: 25px;
  }
  .project-card .part-2{
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
    /* padding: 20px; */
    transition: border-radius 0.8s ease-in-out;
  }
  .project-card .part-3{
    text-align: center;
    padding: 20px;
  }
  .project-card .part-3 p{
    margin-bottom: 30px;
  }
  .project-card .part-3 a{
    padding: 5px;
    border-radius: 30px;
    color: white;
    border: 1px solid #44c7f5;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #44c7f5;
    transition: .3s;
    -webkit-transition: .6s;
    color: rgb(237, 236, 236);
  }
  .project-card .part-3 a:hover{
    color: black;
    box-shadow: inset 200px 0 0 0 #3472ef;
    transform: scaleX(1);
    transition-delay: 0.2s;
  }
  .project-card .part-2 img {
  max-width: 130%;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  }
  /* .project-card .part-1:hover {
    border-radius: 0; 
    width: auto; 
    transform: scale(1.1);
  } */
  
  .project-card .part-2 img:hover {
    border-radius: 0;
    transform: scale(1.5); /* Slightly enlarge the image on hover */
  }
  /* Responsivness code for projects */
  @media screen and (max-width:1450px){
    .project-card .part-3 a{
      display: block;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width:1060px) {
    .project-card{
      height: 420px;
      transition: all 1s;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
      padding: 20px 5%;
    }
    .project-card .part-2 img {
      max-width: 50%;
      border-radius: 5%;
      transition: transform 0.5s ease-in-out;
      }
      .project-card .part-3 a{
        display:inline-block ;
        margin-left: 10px;
        width: 200px;
        margin-bottom: 10px;
      }
      .project-card .part-3 p{
        margin-bottom: 10px;
      }
  }
  /* Style the contact section */
  #contact {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
  
  #contact ul {
    list-style: none;
  }
  
  #contact ul li {
    margin-bottom: 10px;
  }
  
  #contact a {
    color: white;
  }  
  
.react-activity-calendar {
   background-color: rgb(255, 255, 255);
   width: 100%;
   margin: auto;
   align-items: center;
   text-align: center;
   color: black;
  }
  
  #github-streak-stats,
  #github-top-langs,
  #github-stats-card {
    /* Style the GitHub statistics images */
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }

    /* Style the footer */
    footer {
      background-color: #141414;
      /* padding: 20px 0; */
      text-align: center;
    }
